@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*, ::before ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    background-color: #E4D7D0;
}
/* ************************************* NAVBAR ************************************* */
nav {
    position: fixed;
    display: flex;
    width: 100%;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #E4D7D0;
    border-bottom: 5px solid #FF9636;
}
nav #liens {
    margin-top: 3px;
    margin-left: 500px;
}
nav #liens a {
    text-decoration: none;
    border-bottom: 1px solid #FF9636;
    color: #0A4158;
    font-size: x-large;
}
nav .a2 {
    margin: 0 20px;
}
/* ************************************* IMAGE PRINCIPALE ************************************* */
#imagePrincipale {
    padding-top: 60px;
    background: url(imgPal/fond.jpg);
    background-size: cover;
    height: 500px;
}
#imagePrincipale {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1 {
    text-align: center;
    color: #FF9636;
    font-size: 4rem;
    text-shadow: 1px 3px 5px #0A4158;
} 
h3 {
    text-align: center;
    color: #0A4158;
    font-size: 2em;
}
a {
    text-align: center;
    text-decoration: none;
    color: #0A4158;
    font-size: 1.7em;
    margin-top: 20px;
}
/* ************************************* PRESENTATION ************************************* */
h2 {
    text-align: center;
    font-size: 2em;
    color: #0A4158;
}
#presentation {
    max-width: 1600px;
    width: 80%;
    height: auto;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    justify-content: center;
}
.zoom {
    width: 500px;
    height: 500px;
}
.image {
    text-align: center;
}
.image img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    box-shadow: 6px 6px 28px -1px #0A4158;
    pointer-events: none;
    border-radius: 10px;
}
.image:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(2); /* Safari et Chrome */
    -moz-transform:scale(2); /* Firefox */
    -ms-transform:scale(2); /* Internet Explorer 9 */
    -o-transform:scale(2); /* Opera */
    transform:scale(2);
}
.futur {
    display: none;
}

#foot {
    margin: -100px;
    height: 200px;
}
#basDePage{
    background-color: #4B8378;
    height: 100px;
    width: 500px;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #0A4158;
}
#copyrightEtIcons {
    display: flex;
    width: 75%;
    margin: auto;
    padding: 0 0 20px 0;
}
#copyright {
    width: 50%;
    text-align: left;
    color: #0A4158;
    margin-top: -20px;
}
#icons {
    width: 50%;
    text-align: right;
    margin-top: -20px;
}
#icons a {
    display: inline-block;
    padding: 0 20px;
    color: #0A4158;
}
#deuxiemeTrait {
    height: 3px;
    width: 75%;
    background-color: #FF9636;
    margin: 60px auto;
}
#basDePage h2{
    color: #FF9636;
}
/* en dessous de 700px */
@media screen and (max-width: 700px) {
    nav {
        display: flex;
    }
    nav #liens {
        margin: 0 110px;
    }
    nav #liens a {
        display: block;
        border: none;
        font-size: 1.1rem;
    }
    h1 {
        font-size: 2rem;
        padding-top: 40px;
    }
    h3 {
        font-size: 1.3rem;
    }
    a {
        font-size: 1.2rem;
    }
    h5 {
        font-size: large;
    }
    #imagePrincipale {
        height: 300px;
    }
    .zoom {
        width: 350px;
        height: 400px;
        margin: auto;
    }
    .image img {
        max-width: 300px;
        max-height: 300px;    
    }
    image:hover img {
        transform: none;
    }


    .image img {
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
    }
    .image:hover img {
        -webkit-transform:none;
        -moz-transform:none;
        -ms-transform:none;
        -o-transform:none;
        transform:none;
    }

    #icons a {
        padding: 0 5px;
    }
    #basDePage {
        max-width: 300px;
    }
    #basDePage h2 {
        font-size: x-large;
    }
}

/* entre 700 et 1000px */
@media screen and (min-width: 700px) and (max-width: 1000px) {
    nav {
        display: flex;
    }
    nav #liens {
        margin-left: 200px;
    }
    #imagePrincipale {
        height: 260px;
        font-size: small;
    }
    h1 {
        margin-top: 40px;
        font-size: xxx-large;
    }
    h3 {
        margin-top: -15px;
        font-size: large;
    }
    h5 {
        margin-top: -10px;
        font-size: medium;
    }
    .futur {
        display: none;
    }
    .image:hover img {
        /* L'image est grossie de 25% */
        -webkit-transform:scale(1.5); /* Safari et Chrome */
        -moz-transform:scale(1.5); /* Firefox */
        -ms-transform:scale(1.5); /* Internet Explorer 9 */
        -o-transform:scale(1.5); /* Opera */
        transform:scale(1.5);
    }
}
