@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*, ::before ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Amatic SC', cursive;
    background-color: #E4D7D0;
}
/* ************************************* NAVBAR ************************************* */
nav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    opacity: 0.8;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #E4D7D0;
    border-bottom: 5px solid #FF9636;
}
nav #liens {
    margin-top: 3px;
    margin-left: 500px;
}
nav #liens a {
    text-decoration: none;
    border-bottom: 1px solid #FF9636;
    color: #FF9636;
    font-size: x-large;
}
nav .a2 {
    margin: 0 20px;
}
/* ************************************* IMAGE PRINCIPALE ************************************* */
#imagePrincipale {
    padding-top: 60px;
    background: url(imgPal/fond.jpg);
    background-size: cover;
    height: 600px;
}
h1 {
    text-align: center;
    color: #FF9636;
    font-size: 6em;
    margin-top: 110px;
    text-shadow: 1px 3px 5px #0A4158;
}
#premierTrait {
    height: 3px;
    width: 25%;
    margin: 3% auto;
    background-color: #FF9636;
    box-shadow: 1px 3px 2px #4B8378;
}    
h3 {
    text-align: center;
    color: #0A4158;
    font-size: 2.5em;
}
h5 {
    text-align: center;
    text-decoration: none;
    color: #0A4158;
    font-size: 2em;
    margin-top: 20px;
}
/* ************************************* PRESENTATION ************************************* */
#Presentation {
    background-color: #E4D7D0;
    padding: 30px 0px 200px 0;
    display: block;
}
#photos1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 10%;  
}
#photos2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 13%;  
}
#photos3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 10%;  
}
h2 {
    text-align: center;
    font-size: 2em;
    color: #0A4158;
}
.zoom {
    width: 320px;
    height: 240px;
}
.image {
    width: 100%;
    height: 100%;
}
.image img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    box-shadow: 6px 6px 28px -1px #0A4158;
    pointer-events: none;
    border-radius: 10px;
}
.image:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(2); /* Safari et Chrome */
    -moz-transform:scale(2); /* Firefox */
    -ms-transform:scale(2); /* Internet Explorer 9 */
    -o-transform:scale(2); /* Opera */
    transform:scale(2);
}

#foot {
    height: 300px;
}
#basDePage{
    background-color: #4B8378;
    height: 100px;
    width: 500px;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px #0A4158;
}

#basDePage h2{
    color: #FF9636;
}

