@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Gochi hand', cursive;
}
/* ************************************* NAVBAR ************************************* */
nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    opacity: 0.8;
    background-color: #E4D7D0;
    border-bottom: 5px solid #FF9636;
}
nav #liens {
    margin-left: 500px;
}
nav #liens a {
    text-decoration: none;
    border-bottom: 1px solid #FF9636;
    padding-bottom: 5px;
    color: #0A4158;
    font-size: x-large;
}
nav .a2 {
    margin: 0 20px;
}
/* ************************************* HAUT_DE_PAGE ************************************* */
#imagePrincipale {
    background: url(img/fond.jpg);
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    }
.titre {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background: transparent;
}
.titre h1 {
    position: relative;
    text-transform: uppercase;
    color: transparent;
    font-size: 3.5rem;
}
.titre h1::before {
    content: attr(data-text);
    position: absolute;
    height: 100%;
    background: -webkit-linear-gradient(rgba(255,150,54,1) 0%, rgba(75,131,120,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 2000ms linear forwards;
    animation-delay: 700ms;
}
@keyframes animate
{
    0%, 20% {
        width: 0;
    }
    40%, 70%, 100% {
        width: 100%;
    }
}

.citation {
    height: 130px;
    max-width: 100%;
    max-height: 100%;
    color: #0A4158;
    text-align: center;
    font-size: 1.8rem;    
}
.citation h4 {
    margin-top: 50px;
}
.citation h5 {
    padding-top: 50px;
    font-size: 1.3rem;
}
/* ************************************* PRESENTATION ************************************* */
#Palettes, #TroisD {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

#Palettes {
    background-color: #E4D7D0;

}
.PalettesFond, .TroisDFond {
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
    height: 400px;
    width: 80%;
    box-shadow: 5px 6px 8px#0A4158;
}

.PalettesFond {
    background-color: #fff;
}

.PalettesImages, .TroisDImages {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 400px;
}

.PalettesImages img, .TroisDImages img {
    width: 300px;
    max-width: 100%;
    max-height: 100%;
}
.PalettesTexte, .TroisDTexte {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 400px;
    text-align: left;
    font-size: 1.1rem;
    color: #0A4158;
}

.PalettesTexte {
    background-color: #fff;
    padding-right: 20px;
}

.TroisDFond {
    background-color: #E4D7D0;
}

.TroisDTexte {
    padding-left: 30px;
}

/* ************************************* BAS DE PAGE ************************************* */
#basDePage {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    background: linear-gradient(180deg, rgba(75,131,120,1) 0%, rgba(255,150,54,1) 100%);
    opacity: 0.8;
    border-bottom: 5px solid #0A4158;
}
.basDePageWorld {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 190px;
    background-color: #fff;
    box-shadow: 5px 6px 8px#0A4158;
    text-align: center;
    font-size: 1.1rem;
    color: #0A4158;
}
.basDePageFond {
    padding: 0 30px;
}

.world h1 {
    text-align: center;
}

.world {
    margin-right: 20px;
}
/* ************************************* FOOTER ************************************* */
footer {
    padding: 30px 0 10px 0;
    text-align: center;
    color: #0A4158;
  }
#contact {
    text-shadow: 1px 3px 2px #4B8378;
    font-size: 1.8rem;
}
form {
    margin: 0 auto;
    max-width: 900px;
}
input, textarea, button {
    border: none;
    width: 55%;
    background-color: #FF9636;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.1rem;
    font-family: 'Gochi Hand', sans-serif;
    border-radius: 8px;
}
textarea {
    height: 120px;
}
button {
    font-size: 1.6rem;
    background-color: #FF9636;
    color: #0A4158;
}
button:hover {
    background-color: #0A4158;
    color: #FF9636;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#deuxiemeTrait {
    height: 3px;
    width: 75%;
    background-color: #FF9636;
    margin: 60px auto;
}
#copyrightEtIcons {
    display: flex;
    width: 75%;
    margin: auto;
    padding: 0 0 20px 0;
}
#copyright {
    width: 50%;
    text-align: left;
    color: #0A4158;
    margin-top: -20px;
}
#icons {
    width: 50%;
    text-align: right;
    margin-top: -20px;
}
#icons a {
    display: inline-block;
    padding: 0 20px;
    color: #0A4158;
}
/* en dessous de 700px */

@media screen and (max-width: 700px) {
    nav #logo {
        padding-top: 20px;
    }
    nav #liens {
        margin-left: 100px;
        padding-top: 20px;
    }
    nav #liens a {
        display: block;
        border: none;
        font-size: 1em;
    }
    
    #imagePrincipale {
        height: 300px;
    }

    .titre {
        text-align: center;
    }
    .titre h1 {
        width: 52%;
        font-size: 1.2rem;
    }
    .citation {
        height: 50px;
        font-size: 0.8em;
    }
    .citation h4 {
        font-size: 1rem;
        margin: 20px;
    }

    .citation h5 {
        padding-top: 0;
        font-size: 0.9rem;
    }

    #Palettes, #TroisD {
        height: 600px;
    }

    .PalettesFond, .TroisDFond {
        flex-direction: column;
        width: 90%;
        height: 550px;
    }
    .PalettesImages img, .TroisDImages img {
        width: 200px;
        max-width: 100%;
    }
    .PalettesTexte, .TroisDTexte {
        width: 90%;
        font-size: 1rem;
    }
    .PalettesTexte {
        padding: 0 0 20px 5px;
    }
    .TroisDTexte {
        padding-top: 20px;
        padding-left: 5px;
    }

    .basDePageFond {
        font-size: 0.9em;
    }
    .world {
        font-size: 0.8em;
    }
    #icons a {
        padding: 0 5px;
    }

    #basDePage {
        height: 500px;
    }
    .basDePageWorld {
        flex-direction: column;
        height: 400px;
        width: 90%;
        font-size: 1.1rem;
    }
    .basDePageFond {
        padding: 20px 40px;
    }
    .world {
        margin: 0;
    }
    



}
/* entre 700 et 1000px */

@media screen and (min-width: 700px) and (max-width: 1000px) {
    nav {
        display: flex;
    }
    nav #liens {
        margin-left: 200px;
    }
    #imagePrincipale {
        height: 300px;
    }
    .titre {
        padding-top: 130px;
    }
    .titre h1 {
        font-size: 2rem;
    }
    .citation {
        font-size: 1.2rem;
    }
    .citation h4 {
        margin-top: 10px;
    }
    .citation h5 {
        padding-top: 10px;
        font-size: 1.3rem;
    }
    .PalettesTexte, .TroisDTexte {
        font-size: 0.90rem;
    }
    .PalettesImages img, .TroisDImages img {
        width: 220px;
        max-width: 100%;
        max-height: 100%;
    }
    .Palettes, .TroisD {
        height: 350px;
        width: 90%;
        box-shadow: 5px 6px 8px#0A4158;
    }
    .basDePageWorld {
        font-size: 1rem;
    }
}