@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

*, ::before ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Gochi hand', cursive;
}
/* ************************************* NAVBAR ************************************* */
nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    opacity: 0.8;
    background-color: #E4D7D0;
    border-bottom: 5px solid #FF9636;
}
nav #liens {
    margin-left: 500px;
}
nav #liens a {
    text-decoration: none;
    border-bottom: 1px solid #FF9636;
    padding-bottom: 5px;
    color: #0A4158;
    font-size: x-large;
}
nav .a2 {
    margin: 0 20px;
}
/* ************************************* HAUT_DE_PAGE ************************************* */
#imagePrincipale {
    background: url(img/fond.jpg);
    height: 400px;
    }
.titre {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    background: transparent;
    font-size: xxx-large;
}
.titre h1 {
    position: relative;
    text-transform: uppercase;
    color: transparent;
}
.titre h1::before {
    content: attr(data-text);
    position: absolute;
    height: 100%;
    background: -webkit-linear-gradient(rgba(255,150,54,1) 0%, rgba(75,131,120,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 5000ms linear forwards;
    animation-delay: 3000ms;
}
@keyframes animate
{
    0%, 20% {
        width: 0;
    }
    40%, 70%, 100% {
        width: 100%;
    }
}

.citation {
    height: 130px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    color: #0A4158;
    text-align: center;
    font-size: x-large;    
}
.citation h4 {
    margin-top: -20px;
}
.citation h5 {
    margin-top: -20px;
    font-size: large;
}
/* ************************************* PRESENTATION ************************************* */
#premierePresentation {
    height: 400px;
    background-color: #E4D7D0;
    padding: 30px;
}
#premierePresentationFond {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    vertical-align: middle;
    height: 400px;
    width: 60%;
    margin: auto;
    box-shadow: 5px 6px 8px#0A4158;
}
#premierePresentationImages {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50%;
    height: 400px;
}
#premierePresentationImages img {
    width: 300px;
    max-width: 100%;
    max-height: 100%;
}
#premierePresentationTexte {
    display: flex;
    align-items: center;
    background-color: white;
    width: 45%;
    height: 400px;
    margin: auto;
    text-align: left;
    font-size: medium;
    color: #0A4158;
}
#deuxiemePresentation {
    height: 400px;
    background-color: #fff;
    padding: 30px;
}
#deuxiemePresentationFond {
    background-color: #E4D7D0;
    display: flex;
    vertical-align: middle;
    height: 400px;
    width: 60%;
    margin: auto;
    box-shadow: 5px 6px 8px#0A4158;
}
#deuxiemePresentationImages {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E4D7D0;
    width: 50%;
    height: 400px;
}
#deuxiemePresentationImages img {
    width: 300px;
    max-width: 100%;
    max-height: 100%;
}
#deuxiemePresentationTexte {
    display: flex;
    align-items: center;
    background-color: #E4D7D0;
    width: 45%;
    height: 400px;
    margin: auto;
    padding-left: 40px;
    text-align: left;
    font-size: large;
    color: #0A4158;
}
/* ************************************* BAS DE PAGE ************************************* */
#basDePage {
    display: flex;
    background: linear-gradient(90deg, rgba(75,131,120,1) 0%, rgba(255,150,54,1) 100%);
    opacity: 0.8;
    padding: 30px;
    border-bottom: 5px solid #0A4158;
}
#basDePageWorld {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 50%;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: large;
    color: #0A4158;
    box-shadow: 5px 6px 8px#0A4158;
}
.world h1 {
    text-align: center;
}
/* ************************************* FOOTER ************************************* */
footer {
    padding: 10px 0 10px 0;
    text-align: center;
    color: #0A4158;
  }
#contact {
    text-shadow: 1px 3px 2px #4B8378;
    font-size: xx-large;
}
form {
    margin: 0 auto;
    max-width: 900px;
}
input, textarea, button {
    border: none;
    width: 55%;
    background-color: #FF9636;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: large;
    font-family: 'Gochi Hand', sans-serif;
    border-radius: 8px;
}
textarea {
    height: 120px;
}
button {
    font-size: x-large;
    background-color: #FF9636;
    color: #0A4158;
}
button:hover {
    background-color: #0A4158;
    color: #FF9636;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
#deuxiemeTrait {
    height: 3px;
    width: 75%;
    background-color: #FF9636;
    margin: 60px auto;
}
#copyrightEtIcons {
    display: flex;
    width: 75%;
    margin: auto;
    padding: 0 0 20px 0;
}
#copyright {
    width: 50%;
    text-align: left;
    color: #0A4158;
    margin-top: -20px;
}
#icons {
    width: 50%;
    text-align: right;
    margin-top: -20px;
}
#icons a {
    display: inline-block;
    padding: 0 20px;
    color: #0A4158;
}
/* en dessous de 700px */
@media screen and (max-width: 700px) {
    nav {
        margin-top: 20px;
    }
    nav #logo {
        padding-top: 20px;
    }
    nav #liens {
        margin-left: 100px;
        padding-top: 20px;
    }
    nav #liens a {
        display: block;
        border: none;
        font-size: 1em;
    }
    .titre h1 {
        font-size: x-large;
    }
    #imagePrincipale {
        display: block;
        height: 250px;
    }
    #imagePrincipale .titre {
        padding-top: 150px;
        margin-top: -30px;
    }
    .citation {
        margin-top: -20px;
        font-size: 0.8em;
    }
    .citation h5 {
        margin-top: -15px;
        font-size: 0.7em;
    }
    #premierePresentation {
        height: 400px;
    }
    #premierePresentationImages {
        height: 150px;
        margin: auto;
    }
    #deuxiemePresentationImages{
        height: 180px;
        margin: auto;
    }
    #deuxiemePresentationTexte {
        font-size: 0.8em;
        height: 200px;
        width: 90%;
        text-align: center;
        padding: 0;
    }
    #premierePresentationTexte {
        font-size: 0.8em;
        height: 250px;
        width: 90%;
        text-align: center;
        padding: 0;
    }
    #premierePresentationFond, #deuxiemePresentationFond, #basDePageWorld {
        flex-direction: column;
        height: auto;
        width: 300px;
    }
    #deuxiemePresentation {
        height: 380px;
    }
    .basDePageFond {
        font-size: 0.8em;
    }
    .world {
        font-size: 0.8em;
    }
    #icons a {
        padding: 0 5px;
   }


}
/* entre 700 et 1000px */
@media screen and (min-width: 700px) and (max-width: 1000px) {
    nav {
        display: flex;
    }
    nav #liens {
        margin-left: 200px;
    }
    #imagePrincipale {
        display: block;
        height: 300px;
    }
    #premierePresentationImages img {
            height: auto;
            width: 200px;
    }
    #deuxiemePresentationImages img {
        height: auto;
        width: 200px;
    }
    .titre {
        padding-top: 150px;
    }
    .titre h1 {
        margin-top: -20px;
        font-size: xxx-large;
    }
    .citation {
        margin-top: -30px;
        font-size: large;
    }
    .citation h5 {
        margin-top: -15px;
        font-size: small;
    }
    #premierePresentationTexte, #deuxiemePresentationTexte {
        height: 360px;
    }
    #premierePresentationImages, #deuxiemePresentationImages {
        height: 360px;
    }
    #premierePresentation, #deuxiemePresentation {
        height: 360px;
    }
    #premierePresentationFond, #deuxiemePresentationFond {
        height: 360px;
    }
    #premierePresentationFond, #deuxiemePresentationFond, #basDePageWorld {
        width: 90%;
    }
}