@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*, ::before ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Kanit', cursive;
}
/* ************************************* NAVBAR ************************************* */
nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    opacity: 0.8;
    background-color: #E4D7D0;
    border-bottom: 5px solid #FF9636;
}
nav #liens {
    margin-left: 500px;
}
nav #liens a {
    text-decoration: none;
    border-bottom: 1px solid #FF9636;
    padding-bottom: 5px;
    color: #0A4158;
    font-size: 1.6rem;
}
nav .a2 {
    margin: 0 20px;
}
/* ************************************* IMAGE PRINCIPALE ************************************* */
#imagePrincipale {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(img3D/fond3D.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}
.titre {
    padding-top: 20px;
    text-align: center;
    color: #4B8378;
    text-shadow: 3px 5px 5px black;
    font-size: 3rem;
}
.citation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h2 {
    width: 60%;
    font-size: 1.8rem;
    text-align: center;
    color: #0A4158;

}

.citation a {
    text-decoration: none;
    color: #0A4158;
}

/* ************************************* PRESENTATION ************************************* */
#Presentation {
    background-color: #E4D7D0;
    padding: 30px 0px 100px 0;
    display: block;
}
#photosVideos {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 20%;  
}
.imagesRasoir img {
    border-radius: 10px;
    box-shadow: 6px 6px 28px -1px #0A4158;
}
h4 {
    text-align: center;
    font-size: 1.5em;
    color: #0A4158;
}

/* ******************************** BOUTON LIEN EXTERNE ******************************** */

button {
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    background-color: #4B8378;
    border: 0;
    padding: 10px 50px;
    margin-top: 50px;
    transform: skewX(-15deg);
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 15px 15px 0 rgb(232, 233, 235);
    border-radius: 10px;
}

button:hover {
    padding-right: 80px;
    box-shadow: 20px 20px 0 #FF9636;
}

button:hover i {
    animation: color 2s infinite linear;
}

span.arrow {
    margin-left: 25px;
    position: relative;
    color: white;
}
span.arrow i {
    transform: skewX(15deg);
    transition: 0.2s;
}

span.arrow i:nth-child(2) {
    position: absolute;
    right: 0;
    /* top: 10px; */
    animation-delay: 0.5s;
}

span.arrow i:nth-child(3) {
    position: absolute;
    right: 0;
    /* top: 10px; */
    animation-delay: 1s;
}

button:hover i:nth-child(2) {
    right: -20px;
}

button:hover i:nth-child(3) {
    right: -40px;
}

@keyframes color {
    0% {
        color: rgb(232, 233, 235);
    }

    50% {
        color: #0A4158;
    }

    100% {
        color: rgb(232, 233, 235);
    }
}


@media screen and (max-width: 700px) {
    nav {
        display: flex;
    }
    nav #liens {
        margin-left: 100px;
    }
    nav #liens a {
        display: block;
        border: none;
        font-size: large;
    }
    #imagePrincipale {
        display: flex;
        padding-top: 60px;
        height: 280px;  
    }
    .titre {
        font-size: large;
    }
    
    .citation h2 {
        font-size: 0.8rem;
    }
    .citation a {
        font-size: 0.7rem;    
    }
    #photosVideos {
        padding: 0;
    }
    h4 {
        font-size: 1.2em;
    }
    button {
        font-size: 1em;
        padding: 10px 50px;
    }
    .autres {
        width: 70%;
    }
    .arrow {
        padding-top: 50px;
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
    nav {
        display: flex;
    }
    nav #liens {
        margin-left: 200px;
    }
    #imagePrincipale {
        display: block;
        height: 500px;
    }
}