@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

*, ::before ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Kanit', cursive;
}
/* ************************************* NAVBAR ************************************* */
nav {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    opacity: 0.8;
    background-color: #E4D7D0;
    border-bottom: 5px solid #FF9636;
}
nav #liens {
    margin-left: 500px;
}
nav #liens a {
    text-decoration: none;
    border-bottom: 1px solid #FF9636;
    padding-bottom: 5px;
    color: #0A4158;
    font-size: x-large;
}
nav .a2 {
    margin: 0 20px;
}
/* ************************************* IMAGE PRINCIPALE ************************************* */
#imagePrincipale {
    background: url(img3D/fond3D.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}
.titre {
    padding-top: 80px;
    text-align: center;
    color: #4B8378;
    text-shadow: 3px 5px 5px black;
    font-size: xxx-large;
}
.citation {
    height: 130px;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    color: #0A4158;
    text-align: center;
    font-size: x-large;    
}
.citation h4 {
    margin-top: -20px;
}
.citation h5 {
    margin-top: -20px;
    font-size: large;
}
/* ************************************* PRESENTATION ************************************* */
#Presentation {
    background-color: #E4D7D0;
    padding: 30px 0px 100px 0;
    display: block;
}
#photosVideos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 20%;  
}
.imagesRasoir img {
    border-radius: 10px;
    box-shadow: 6px 6px 28px -1px #0A4158;
}
h4 {
    text-align: center;
    font-size: 1.5em;
    color: #0A4158;
}

@media screen and (max-width: 700px) {
    nav {
        display: flex;
    }
    nav #liens {
        margin-left: 100px;
    }
    nav #liens a {
        display: block;
        border: none;
        font-size: large;
    }
    #imagePrincipale {
        display: block;
        height: 320px;  
    }
    .titre {
        padding-top: 120px;
        font-size: large;
    }
    .citation {
        position: absolute;
        margin-top: 20px;
        font-size: small;
    }
    .citation h5 {
        margin-top: -15px;
        font-size: small;
    }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
    nav {
        display: flex;
    }
    nav #liens {
        margin-left: 200px;
    }
    #imagePrincipale {
        display: block;
        height: 500px;
    }
}